.add-blog {
  border-radius: 2px;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 15px;
  width: 100%;
  margin-right: auto;
}

.card{
  width: 100%;
}

.display-blog button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

textarea{
  width: 100%;
  height: 300px;
}
